*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}
/* ---------- root variables ---------- */
:root {
  --green: rgb(38, 76, 89);
  --light-green: rgb(172, 198, 201);
  --light-grey: #f1f1f4;
  --text-color-light: #f1f1f1;
  --text-color-dark: #333;
  --font-family: Helvetica, Arial, sans-serif;
}

/* ---------- general styling ---------- */
html {
  color: var(--text-color-dark);
  font-family: var(--font-family);
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
}

.tabbar {
  background-color: var(--green);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height:100vh;
  width:100px;
  z-index: 9999;
}

.tabbar a {
  display: inline-block;
  color: var(--text-color-light);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 0.8em;
  width:100%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.tabbar a:hover {
  background-color: var(--light-grey);
  color: var(--text-color-dark);
}

.tabbar a.active {
  background-color: var(--light-green);
  color: var(--text-color-light);
}

.page {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height:100vh;
  background: var(--light-grey);
  animation: fadeIn 0.4s;
  padding: 55px 0;
  position: absolute;
  right:0;
  width:calc(100% - 100px);
  overflow:hidden;
}
.logo {
  padding:10px;
}
.icon-prices {
  display:flex;
  justify-content: center;
  align-items: center;
}
.icon-prices img {
  width:30%;
}
.logo > img {
  width:100%;
}
.hide {
  transform:translateY(100%);
}

.hide-loader {
  transform:translateY(-100%);
}
.emails {
  display:block;
  margin: 0 auto;
  width:50%;
  border:1px solid black;
}
.emails a {
  text-decoration: none;
    width:100%;
    height:60px;
    padding:0;
    border:1px solid black;
    display:flex;
    justify-content: center;
    align-items:center;
    color:black;
    transition:.3s ease;
}
.emails a:hover {
  height:70px;
  color:blue;
}
.prices h3 {
  font-size:30px;
}
.prices p {
  font-size:18px;
}
.prices p span {
  font-size:24px;
  color:green;
}
.prices button {
  margin-bottom:10px;
  background-color:white;
  border:2px solid lightgrey;
  outline:0;
  border-radius:6px;
  display:block;
  height:30px;
  width:100%;
  cursor:pointer;
  transition:.6s;
}
.prices button:hover {
  background-color:grey;
  color:white;
}
.updatePrice {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:100%;
  width:100%;
}
.updatePrice input {
  padding:8px;
  height:30px;
  width:30%;
}
.updatePrice button {
  width:30%;
  height:30px;
  margin: 10px 0;
  outline:0;
  border:2px solid lightgreen;
  background:lightgreen;
  border-radius:6px;
  transition:.6s;
  cursor:pointer;
}
.updatePrice button:hover {
  background-color:grey;
  color:white;
}
.emailWrapper {
  background-color:#fff;
  padding:8px;
  display:flex;
  align-items: center;
  width:60%;
  height:60vh;
  position: relative;
  flex-direction: column;
}
.emailWrapper h3{
  width:100%;
  border-bottom:2px solid #e3e3e3;
  display:flex;
  justify-content: center;
  align-items: center;
  height:60px;
  margin-bottom:40px;
}
.emailWrapper div{
  display:flex;
  width:80%;
}
.emailWrapper div > p {
  font-size:18px;
  margin:10px;
  width:50%;
}
.emailWrapper > p {
  font-size:18px;
  display:block;
  width:80%;
  margin:10px 0;
  text-align: left;
}
.emailWrapper > p span {
  background-color: grey;
  padding:8px;
  height:20px;
  width:50px;
}
.emailWrapper ul{
  margin:40px 0;
  list-style:none;
  font-size:18px;
  text-align:left;
  width:60%;
}
.emailWrapper ul li p {
  margin-left:20px;
}
.wrap {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}
.cements {
  width:150px;
  height:150px;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  position: relative;
  margin:15px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow:0 0 5px black;
}
.cements p {
  text-transform:capitalize;
  font-size:32px;
  text-shadow:1px 0px 3px white;
}
.cements button {
  position: absolute;
  bottom:0;
  width:100%;
  height:35px;
  border:0;
  border-top:1px solid black;
  outline:none;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color:white;
  cursor:pointer;
}
.cements button:hover {
  background:grey;
  color:white;
}
.cements > img {
  width:100%;
  padding:20px;
  transition:.6s;
  cursor:pointer;
}
.cements > img:hover {
  padding:10px;
  transform:rotate(180deg);
}
.addnewcement {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  right:0;
  top:0;
  width:0;
  overflow:hidden;
  height:100vh;
  transition: .6s;
  background-color:#e3e3e3;
}
.addnewcement .closenew {
  position: absolute;
  top:20px;
  right:20px;
  height:50px;
  width:50px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.addnewcement > .hex-color {
  width:80%;
}
.closenew span {
  height:6px;
  background-color:black;
  width:100%;
  display:block;
  position: absolute;
}
.closenew span:nth-child(1){
  transform:rotate(45deg);
}
.closenew span:nth-child(2){
  transform:rotate(-45deg);
}
.addnewcement > input, .addnewcement > button  {
  width:80%;
  height: 35px;
  padding:8px;
  margin: 10px 0;
}
.addnewcement > button {
  background-color:white;
  border:none;
  border-radius:6px;
  transition:.6s;
  cursor:pointer;
  box-shadow:0 0 4px black
}
.addnewcement > button:hover {
  background-color:grey;
  color:white;
}
.deleteMaterial {
  position: absolute;
  bottom:40px;
  left:100px;
  width:40px;
  height:40px;
  cursor:pointer;
  transition: .6s ease;
}
.deleteMaterial:hover  {
  width:60px;
}
.deleteMaterial > img {
  width:100%;
}
.updateColors {
  height:0;
  overflow:hidden;
  position: fixed;
  bottom:0;
  background-color:#e3e3e3;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition:.6s;
}
.updateColors .close {
  position: absolute;
  top:50px;
  right:100px;
  height:50px;
  width:50px;
  cursor:pointer;
  display:flex;
  justify-content: center;
  align-items: center;
}
.close > span {
  position: absolute;
  display:block;
  width:100%;
  height:6px;
  background-color:black;
}
.close > span:nth-child(1){
  transform:rotate(45deg);
}
.close > span:nth-child(2){
  transform:rotate(-45deg);
}
.hex-color {
  background-color:#c4302b;
  height:60px;
  width:400px;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
}
.hex-color label {
  color:white;
  width:100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  text-shadow:1px 0px 2px black;
  font-weight:600;
}
.hex-color input {
  opacity:0;
  position: absolute;
  width:100%;
  height:100%;
}
.updateColors > input {
  width: 400px;
  height:30px;
  padding:8px;
  margin: 10px 0;
  text-transform:capitalize;
}
.updateColors > input:nth-child(3) {
  background-color:#e3e3e3;
  display:none;
  outline:0;
}
.updateColors > button {
  width: 400px;
  height:30px;
  margin:10px 0;
}
#loader {
  width:100%;
  height:100vh;
  top:0;
  left:0;
  display:flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color:white;
  z-index: 999999;
  transition:.6s;
}

#priceUpdate {
  width:calc(100% - 100px);
  position:fixed;
  right:0;
  bottom:0;
  height:0;
  overflow:hidden;
  transition:.6s;
  display:flex;
  background:#e3e3e3;
  justify-content: center;
  align-items:center;
}
@media only screen and (max-width: 600px) {
  .emails {
    width:100%;
  }
}
/* ---------- authentication styling ---------- */
#firebaseui-auth-container {
  position: absolute;
  top: 50%;
  width: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.firebaseui-container {
  font-family: var(--font-family);
  font: 16px var(--font-family);
}

.firebaseui-title {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.mdl-button--raised.mdl-button--colored,
.mdl-button--raised.mdl-button--colored:active,
.mdl-button--raised.mdl-button--colored:hover {
  background: var(--green);
  color: #fff;
  border-radius: 0;
}

.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
  background-color: var(--green);
}
